@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variáveis globais */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Dark mode automático */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Estilo base do body */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
